{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block content %}
<div class="row">
    <div class="col-12">
        <h3 class="m-4"> Welcome! </h3>
    </div>
</div>
<div class="container" align="right">
    <div class="col-12">
        <a class="btn btn-success btn-sm rounded-3 my-3" type="button" href="/vending_machines/add">
            <i class="fa-solid fa-plus"></i> &nbsp; New Vending Machine
        </a>
    </div>
</div>
<div class="container bg-dark border border-dark-subtle rounded-3">
    <div class="col-12">
        <div class="panel panel-default">
            <div class="panel-heading m-2">
                Vending Machines
            </div>
            <div class="panel-body">
                <table class="table table-dark table-condensed table-striped" aria-hidden="true">
                    <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vm, product_choices, stocks in data %}
                    <tr>
                        <td>
                            <button class="btn btn-dark btn-sm" data-bs-toggle="collapse" data-bs-target="#{{vm.id}}"
                                    class="accordion-toggle">
                                <i class="fa-solid fa-eye fa-xs"></i>
                            </button>
                        </td>
                        <td>{{ vm.id }}</td>
                        <td>{{ vm.name }}</td>
                        <td>{{ vm.location }}</td>
                        <td>
                            <a class="btn btn-warning btn-sm" type="button" href="/vending_machines/update/{{vm.id}}">
                                <i class="fa-solid fa-pencil fa-xs fa-fw"></i>
                            </a>
                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#delete-modal-{{vm.id}}">
                                <i class="fa-solid fa-trash fa-xs fa-fw"></i>
                            </button>
                            <div class="modal fade" id="delete-modal-{{vm.id}}" tabindex="-1"
                                 aria-labelledby="delete-modal-{{vm.id}}-label" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content bg-dark">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delete-modal-{{vm.id}}-label">Confirm deleting
                                                user</h5>
                                            <button type="button" class="btn-close btn-close-white"
                                                    data-bs-dismiss="modal" aria-label="Close">
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Do you want to delete vending machine <b>{{vm.id}}</b> <b>({{vm.name}})</b>?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <form action="/api/vending_machines/delete/{{vm.id}}" method="post">
                                                <button class="btn btn-danger" type="submit">
                                                    <i class="fa fa-trash"></i> &nbsp; Delete
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-0" colspan="12">
                            <div class="accordian-body collapse" id="{{vm.id}}">
                                {% if product_choices|length != 0 %}
                                <div class="col-12" align="right">
                                    <button class="btn btn-success btn-sm rounded-3 my-3"
                                            style="--bs-btn-font-size: .75rem;" data-bs-toggle="collapse"
                                            data-bs-target="#{{vm.id}}-add-product-form" class="accordion-toggle">
                                        <i class="fa-solid fa-plus fa-xs"></i> &nbsp; New Product
                                    </button>
                                </div>
                                <div class="row">
                                    <div class="accordian-body collapse" id="{{vm.id}}-add-product-form">
                                        <form action="/api/product_stocks/add/{{vm.id}}" method="post">
                                            <div class="row p-3">
                                                <div class="container bg-dark border border-dark-subtle rounded-3 pb-3">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="panel-heading m-2">
                                                                New Product
                                                            </div>
                                                        </div>
                                                        <div class="col-8" align="right">
                                                            <button type="button"
                                                                    class="btn-close btn-close-white btn-sm m-2"
                                                                    data-bs-toggle="collapse"
                                                                    data-bs-target="#{{vm.id}}-add-product-form"
                                                                    aria-label="Close">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <select name="prod_id"
                                                                    class="form-select form-select-sm btn btn-outline-secondary btn-sm text-light rounded-3 p-1 px-2"
                                                                    style="text-align: left !important;"
                                                                    aria-label="product-choices">
                                                                {% for choice in product_choices %}
                                                                <option value="{{ choice.id }}"> {{ choice.name }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col">
                                                            <input type="number" min="0" name="stock" placeholder="1"
                                                                   value="1"
                                                                   class="btn btn-outline-secondary btn-sm text-light rounded-3 p-1">
                                                        </div>
                                                        <div class="col" align="right">
                                                            <button class="btn btn-success btn-sm rounded-3"
                                                                    type="submit">
                                                                <i class="fa fa-plus fa-xs"></i> &nbsp; Add
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                {% endif %}
                                <table class="table table-dark table-striped" aria-hidden="true">
                                    <thead>
                                    <tr>
                                        <th style="width: 10%"></th>
                                        <th style="width: 15%">Product ID</th>
                                        <th style="width: 30%">Product Name</th>
                                        <th style="width: 15%">Price</th>
                                        <th style="width: 20%">Stock</th>
                                        <th style="width: 10%"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product, stock in stocks.items() %}
                                    <tr>
                                        <td class="col-1">
                                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#delete-modal-{{vm.id}}-{{product.id}}">
                                                <i class="fa-solid fa-minus fa-sm fa-fw"></i>
                                            </button>
                                            <div class="modal fade" id="delete-modal-{{vm.id}}-{{product.id}}"
                                                 tabindex="-1"
                                                 aria-labelledby="delete-modal-{{vm.id}}-{{product.id}}-label"
                                                 aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content bg-dark">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                id="delete-modal-{{vm.id}}-{{product.id}}-label">Confirm
                                                                deleting user</h5>
                                                            <button type="button" class="btn-close btn-close-white"
                                                                    data-bs-dismiss="modal" aria-label="Close">
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            Do you want to delete product <b>{{product.id}}</b> <b>({{product.name}})</b>?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Close
                                                            </button>
                                                            <form action="/api/product_stocks/delete/{{vm.id}}/{{product.id}}"
                                                                  method="post">
                                                                <button class="btn btn-danger" type="submit">
                                                                    <i class="fa fa-trash"></i> &nbsp; Delete
                                                                </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{ product.id }}</td>
                                        <td>{{ product.name }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>{{ stock }}</td>
                                        <td>
                                            <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#product-update-modal-{{vm.id}}-{{product.id}}">
                                                <i class="fa-solid fa-pen-to-square fa-xs fa-fw"></i>
                                            </button>
                                            <div class="modal fade" id="product-update-modal-{{vm.id}}-{{product.id}}"
                                                 tabindex="-1"
                                                 aria-labelledby="product-update-modal-{{vm.id}}-{{product.id}}-label"
                                                 aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content bg-dark">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title"
                                                                id="product-update-modal-{{vm.id}}-{{product.id}}-label">
                                                                Update Product {{product.id}} ({{product.name}})</h5>
                                                            <button type="button" class="btn-close btn-close-white"
                                                                    data-bs-dismiss="modal" aria-label="Close">
                                                            </button>
                                                        </div>
                                                        <form action="/api/product_stocks/update/{{vm.id}}/{{product.id}}"
                                                              method="post">
                                                            <div class="modal-body">
                                                                In Vending Machine <b>{{vm.id}}</b> <b>({{vm.name}})</b>
                                                                <div class="row p-3 pt-4">
                                                                    <div class="col-4">
                                                                        New Stock:
                                                                    </div>
                                                                    <div class="col" align="right">
                                                                        <input type="number" min="0" name="stock"
                                                                               placeholder="1" value="{{stock}}"
                                                                               class="btn btn-outline-secondary btn-sm text-light rounded-3 p-1">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">Close
                                                                </button>
                                                                <button class="btn btn-primary" type="submit">
                                                                    <i class="fa fa-floppy-disk"></i> &nbsp; Save
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
